name: Release Build

permissions:
  contents: write   # pour uploader l’artefact sur la release

on:
  release:
    types: [ created ]

jobs:
  build-jar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v5.0.0

      - name: Set up JDK
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '17'
          distribution: "temurin"
          cache: maven

      # Cache Maven packages
      - name: Cache Maven packages
        uses: actions/cache@v4.3.0
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      # Étape pour enlever "-SNAPSHOT" dans le pom.xml (multi-module)
      - name: Remove -SNAPSHOT from pom.xml (all modules)
        run: mvn versions:set -DremoveSnapshot -DgenerateBackupPoms=false -DprocessAllModules

      # Construction Maven avec optimisations
      - name: Build with Maven
        run: mvn -T1C package -DskipTests -Dmaven.test.skip=true -Dmaven.javadoc.skip=true

      # Upload des JARs sur la release GitHub
      - name: Upload JARs to release
        uses: softprops/action-gh-release@v2.4.2
        with:
          files: |
            pterodactyl-auto-starter-bungee/target/pterodactyl-auto-starter-bungee-*.jar
            pterodactyl-auto-starter-velocity/target/pterodactyl-auto-starter-velocity-*.jar
